@use '../styles/partials/colors' as*;
@use '../styles/partials/mixins' as*;
@use '../styles/partials/formPadding' as*;

* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}

.movie-list-container {
    position: relative;
    height: 100vh;
    background-image: url('../assets/background2.jpg'); // Replace with your image path
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; // Place the background behind the MovieList content
  }